@font-face {
  font-family: 'josefin-reg';
  src: url(./assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: 'josefin-light';
  src: url(./assets/fonts/JosefinSans-Light.ttf);
}

.App {
  height: 100vh;
	background: #352f5b;
	background: linear-gradient(90deg, #3b3466 0%, #3e386b 100%);
  display: flex;
  justify-content: center;
  font-family: 'josefin-reg';
}
